.SignInContainer{
	display: flex;
	flex-direction: column;
	margin: auto auto;
	padding: auto auto;
	border: 2px rgb(26, 24, 24) solid;
	height: 500px;
	min-width:360px ;
	width: 500px;
}

.loginform{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.email-input,.pass-input{
	width: 220px;
	padding-left: 30px;
	margin: 20px auto;
	height: 30px;
	/* border: none; */
	outline: none;
}

.login-btn,.l{
	width: px;
	margin: 10px auto;
}
a{
	text-decoration: none;
}

.l{
	display:none ;
}